<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100" >
      <div class="col col-xl-10" >
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block" style="width: 400px">
              <div class="loginimg">
              <img src="../../assets/img/netflixlogin.svg" alt="login form"  />
            </div>

            </div>

            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <div class="card-login">
                <form [formGroup]="signInFormGroup">

                  <div class="d-flex align-items-center mb-3 pb-1">
                   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netflix_2015_logo.svg/799px-Netflix_2015_logo.svg.png" style="width: 100%">
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example17" class="form-control form-control-lg"formControlName="username" />
                    <label class="form-label" for="form2Example17">Username</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" formControlName="password"/>
                    <label class="form-label" for="form2Example27" >Password</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"  style="width: 200px" (click)="login()" [disabled]="!signInFormGroup.valid">Log
                      in</button><br>
                    <a class="text-muted" >Forgot password?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <a></a><button type="button" class="btn btn-danger" routerLink="register">Create new</button>
                  </div>
                </form>
                <p-dialog *ngIf='showDialog' header='Email or password not correct'
                          [(visible)]='showDialog'
                          [draggable]='false'
                          [modal]='true' [blockScroll]='true' [style]="{width: '35%'}">
                  <p> Your password or email is not correct.If you are not already a member, please register first to continue!</p>
                  <p-button label="Try again" (click)="showDialog=false"></p-button>
                  <p-button label="Register" style="margin-left: 5px" routerLink="register" ></p-button>
                </p-dialog>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
