.btn {
  padding: .45rem 1.5rem .35rem;
}

.gradient-custom {
  /* fallback for old browsers */
  background: blue;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(15, 15, 205, 1),rgba(245, 15, 15, 1) )
}
.right-menu button{
  color:white;
}
.right-menu button:hover{
  color:blue;
  background-color: white;
  border-radius: 10px;
  margin-left: 5px;
}
footer {

  /* fallback for old browsers */
  background: blue;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(15, 15, 205, 1),rgba(245, 15, 15, 1) )
}
