<nav class="navbar navbar-expand-lg navbar-dark gradient-custom">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" ><img style="height: 50px;" src="../../assets/img/netflixlogo.png"></a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <i class="fa fa-bars text-light"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active" aria-current="page" >
            <div>
              <i class="fa fa-home fa-lg mb-1"></i>
            </div>
            Home
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" >
            <div>
              <i class="fa fa-film fa-lg mb-1"></i>

            </div>
            Tv Shows
          </a>
        </li>

        <li class="nav-item dropdown text-center mx-2 mx-lg-1">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            <div>
              <i class="fa fa-file-movie-o fa-lg mb-1"></i>

            </div>
            Choose Category
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" >Action</a></li>
            <li><a class="dropdown-item" >Comedy</a></li>

            <li>
              <a class="dropdown-item">Romance</a>
            </li>
          </ul>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" >
            <div>
              <i class="fa fa-list-alt fa-lg mb-1"></i>

            </div>
            My List
          </a>
        </li>
      </ul>
      <!-- Left links -->

      <!-- Right links -->
      <ul class="navbar-nav  d-flex flex-row mt-3 mt-lg-0">

        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link">
            <div>
              <i class="fa fa-bell fa-lg mb-1"></i>

            </div>
            Latest Realeses
          </a>
        </li>

      </ul>
      <!-- Right links -->

      <!-- Search form -->
      <form class="d-flex input-group w-auto ms-lg-3 my-3 my-lg-0 ">
        <input type="search" class="form-control" placeholder="Search" aria-label="Search" />

      </form>
      <div class="right-menu">
        <button class="btn btn-outline-white" type="button" data-mdb-ripple-color="dark">
          Search
        </button>
        <button class="btn btn-outline-white" routerLink="../"><i class="fa fa-sign-out mx-1" ></i>Sign Out</button>

        <button class="btn btn-outline-white"><i class="fa fa-user mx-1"></i>Profile</button>
      </div>


    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>

<router-outlet></router-outlet>


<div >

<footer class="text-center text-lg-start bg-light text-muted">


  <!-- Section: Links  -->
  <section style="padding-top: 2px" >
    <div class="container text-center text-md-start mt-5" >
      <!-- Grid row -->
      <div class="row mt-3 ">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="color: white">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
           About Us
          </h6>
          <p>
           Privacy
          </p>
          <p>
            Contact Us
          </p>
          <p>
            Media Center
          </p>

        </div>
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="color: white">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Find More
          </h6>
          <p>
            Help Center
          </p>
          <p>
            Jobs
          </p>
          <p>
            Cookie Preferences
          </p>

        </div>

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="color: white">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            How it Works
          </h6>
          <p>
            <a >Audio Description</a>
          </p>
          <p>
            <a >Legal Notices</a>
          </p>
          <p>
            <a  >Investor Relations</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="color: white" >
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fa fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fa fa-envelope me-3"></i>
           netflix@gmail.com
          </p>
          <p><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);" style="color: white">
    © 2022 Copyright:
    <a class="text-reset fw-bold" >Netflix| Official Website</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


</div>




