

<div style="width: 98%;margin-left: 20px;margin-right: 10px;margin-top: 10px" >
  <div  style="position: relative;">
    <div class="row">

      <div class="col-3 my-2"  >



        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">

            <!--Content-->
            <div class="modal-content" style="margin-top: 200px; height: 550px;width: 750px">

              <!--Body-->
              <div class="modal-body mb-0 p-0">

                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aWzlQ2N6qqg"
                          allowfullscreen style="width: 100%;height:400px"></iframe>
                </div>

              </div>

              <!--Footer-->
              <div class="modal-footer justify-content-center" >
                <span class="mr-4">Doctor Strange!</span>
                <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook-f"></i></a>
                <!--Twitter-->
                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a>
                <!--Google +-->
                <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus-g"></i></a>
                <!--Linkedin-->
                <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-linkedin-in"></i></a>
                <button type="button" class="btn btn-outline-primary btn-rounded  ml-4" fileSaver   [method]="'GET'"
                        [fileName]="'videoName.mp4'"  [url]="'https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4'" >Download</button>
                <button type="button" class="btn btn-outline-primary btn-rounded  ml-4" data-bs-dismiss="modal">Close</button>
              </div>

            </div>

          </div>
        </div>
        <div class="card h-100 shadow-sm">
          <div >
           <a> <img src="https://cdn.vox-cdn.com/thumbor/aIgnekvyjdARf_NVJj21EL37uT8=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/23434598/DrStrange2_Payoff_1_Sht_v6_Lg.jpeg" alt="..."     data-bs-toggle="modal" data-bs-target="#modal1" style="height: 300px;width: 100%">
             </a>
          </div>
          <div class="card-body">
            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary"><h6>Doctor Strange 2</h6>
          </span> <span class="float-end price-hp">23.00&euro;</span>
            </div>
            <h5 class="card-title">While on a journey of physical and spiritual healing, a brilliant neurosurgeon is drawn into the world of the mystic arts.</h5>
            <div class="text-center my-4"> <a class="btn btn-warning">Add to list</a>
              <a class="btn btn-warning ms-3">Buy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 my-2"  >
        <div class="card h-100 shadow-sm">
          <img src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">ASUS Rog
          </span> <span class="float-end price-hp">23.00&euro;</span>
            </div>
            <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
            <div class="text-center my-4"> <a class="btn btn-warning">Check offer</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 my-2"  >
        <div class="card h-100 shadow-sm">
          <img src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">ASUS Rog
          </span> <span class="float-end price-hp">23.00&euro;</span>
            </div>
            <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
            <div class="text-center my-4"> <a class="btn btn-warning">Check offer</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 my-2">
        <div class="card h-100 shadow-sm">
          <img src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">ASUS Rog
          </span> <span class="float-end price-hp">23.00&euro;</span>
            </div>
            <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
            <div class="text-center my-4"> <a class="btn btn-warning">Check offer</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 my-2">
        <div class="card h-100 shadow-sm">
          <img src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">ASUS Rog
          </span> <span class="float-end price-hp">23.00&euro;</span>
            </div>
            <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
            <div class="text-center my-4"> <a class="btn btn-warning">Check offer</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 my-2">
        <div class="card h-100 shadow-sm">
          <img src="https://www.freepnglogos.com/uploads/notebook-png/notebook-laptop-png-images-you-can-download-mashtrelo-14.png" class="card-img-top" alt="...">
          <div class="card-body"> <div class="clearfix mb-3">
            <span class="float-start badge rounded-pill bg-success">24.00&euro;</span>
            <span class="float-end"><a >Example</a></span>
          </div>
            <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
            <div class="d-grid gap-2 my-4"> <a class="btn btn-warning">Check offer</a> </div>
          </div>
        </div>
      </div>
      <div class="col-3 my-2">
        <div class="card h-100 shadow-sm"> <img src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png" class="card-img-top" alt="...">
          <div class="label-top shadow-sm">Asus Rog</div>
          <div class="card-body"> <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">12354.00&euro;</span>
            <span class="float-end"><a href="#" class="small text-muted">Reviews</a></span>
          </div> <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
            <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
            <div class="clearfix mb-1"> <span class="float-start"><i class="fa fa-question-circle"></i></span>
              <span class="float-end"><i class="fa fa-plus"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 my-2">
        <div class="card h-100 shadow-sm">
          <img src="https://www.freepnglogos.com/uploads/notebook-png/notebook-laptop-png-images-you-can-download-mashtrelo-14.png" class="card-img-top" alt="...">
          <div class="label-top shadow-sm">DELL</div>
          <div class="card-body"> <div class="clearfix mb-3">
            <span class="float-start price-hp">12354.00&euro;</span>
            <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span>
          </div> <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
            <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
            <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

